@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background-image: url('/images/bg-home02.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
